*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, sans-serif;
}

body{
    width: 100%;
    overflow-x: hidden;
    background-color: whitesmoke;
}

header{ 
    position: relative; 
    height: 60vh; 
    width: 100%;
    overflow: hidden;
}

.header_img{ 
    position: absolute;
    opacity: 0.85;
    z-index: -1;
}

.header_h{
    z-index: 1;
}

.header_text{
    text-shadow: 10px 2px 15px  rgba(0,0,0,.8); 
    color: whitesmoke;  
}

.header_text  h1 {
    position: absolute;
    font-size: 10vh;
    left: 7vw;
    top: 14.5vh;   
    letter-spacing: 3px;
}

.header_text  h3 {
    position: absolute;
    font-size: 5vh;
    left: 7vw;
    top: 25vh; 
    letter-spacing: 1px;
}

.header_button{
    position: absolute;
    width: 7vw; 
    height: 5vh;
    left: 7vw; 
    top: 37.5vh; 
    box-shadow: 10px 4px 20px  rgba(0,0,0,.8); 
    border-radius: .5vw;
    color: whitesmoke;
    background-color: black;
    border: none; 
}

.header_button:hover{
    color: black;
    background-color: whitesmoke;
    transition: ease-in-out .2s;
}

nav{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    z-index: 1;
    height: 10vh;
    color: whitesmoke; 
    width: 100%;
    top: 4vh; 
    right: 4vw;  
    gap: 3vw;
}

nav button{
    height: min-content;
    font-size: 2vh;
    background: transparent;
    border: none; 
    color: whitesmoke;
    border-radius: .5vw;
    border: 3px solid whitesmoke; 
    padding: 0.5vw;
}

nav button:hover{
   box-shadow: 10px 4px 10px  rgba(255,255,255,.8); 
   transition: ease-in-out .2s;
   background-color: rgba(255,255,255,.8);
   color: black;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.shadow{
    background-color: black; 
    height: 2px; 
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,.7); 

}
.main_infobox1, .main_infobox2{
    height: 50vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid black; 
    border-bottom: 1px solid black;
}

.main_infobox2{
    flex-direction: row-reverse;
}

.main_video_box, .main_img_box2{
    position: relative;
    transform: skew(-15deg);
    left: 40vw; 
}

.main_img_box2{
    left:-4vw; 
}


#main_text_box{
    position: absolute;
    max-height: 60vh;
    font-size: 1.8vh;
    padding: 4%;  
    text-align: left; 
    line-height: 120%;
}

#main_text_box2{
    text-align: right;
    max-height: 60vh;
    font-size: 1.8vh;
    padding: 4%; 
    line-height: 120%;
}


#main_text_box p, #main_text_box2 p{
    max-width: 30vw;
    padding-top: 5%;
}
#main_text_box h1, #main_text_box2 h1{
    text-shadow: 5px 4px 10px  rgba(0,0,0,.6); ;
}

@keyframes slideInL_R {
    from{
        transform: translateX(-700px);
    }

    to{
        transform: translateX(0);
    }
}


@keyframes slideInR_L {
    from{
        transform: translateX(700px);
      
    }

    to{
        transform: translateX(0);
    }
}
.main_infobox3{
   text-align: center;
   margin: 2vw;
}

.showroom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} 

.showroom div{
    padding-left: 3vw; 
    padding-top: 2vh;
}

.showroom div img{
    box-shadow: 10px 4px 20px  rgba(0,0,0,.8); 
    border-radius: 2vw; 
    margin: 2vh; 
    max-width: 10vw;
}

#zwei{
    position: sticky;
}

footer{
    background-color: black;
    height: 8vh; 
    color: whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_box{
    display: flex;
    align-items: center;
    justify-content: center; 
    align-content: center;
    padding-top: 1vh;
}

.footer_box img{
    max-width: 3vw;
}